body {
    margin: 0;
}
.header{
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.content{
    background-color: aquamarine;
    margin: 0;
}
.footer{
    background-color: black;
    padding: 1rem;
}

.footer-link {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}